*.log
*.exe
*.zip
*.rar

gitfile.sh

__pycache__
download
log
test/
.idea/

go/project/duplication/a
go/project/duplication/b
go/project/duplication/temp

go/project/recursion_decode_7z/pack
go/project/recursion_decode_7z/password.txt